@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* List elements reset */
ol, ul {
  list-style: none;
}

/* Hiperlinks reset */
a {
  text-decoration: none;
  color: inherit;
}
